export OPENAI_API_KEY=sua_key_aqui
export PGVECTOR_CONNECTION="postgresql+psycopg2://postgres:postgres@localhost:5432/rag"
export EMBEDDINGS_MODEL="text-embedding-3-small"
export LLM_MODEL="gpt-5-nano"
export CHUNK_SIZE=1000
export CHUNK_OVERLAP=150